<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" [formGroup]="loginForm" #lform="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-label-group">
              <input placeholder="Username" type="text" formControlName="username" class="form-control" required>
            </div>
            <label  *ngIf="formErrors.username">{{formErrors.username}}</label>
            
            <div class="form-label-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
            </div>
            <label  *ngIf="formErrors.password">{{formErrors.password}}</label>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase"><i class="fab fa-google mr-2"></i> Sign in with Google</button><br>
            <label><span>Don't have an account?</span></label>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" [routerLink]="['/signup']"><i class="fab fa-facebook-f mr-2"></i>Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
