<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="username" id="username" class="form-control" placeholder="Username" required autofocus>
              <label for="username">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Conform Password" required>
              <label for="inputPassword">Conform Password</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
            <hr class="my-4">

            <label><span>Back to </span><span><a [routerLink]="['/login']"  style="color: green;">Login</a></span></label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
