<div>
  <div class="blogItem" *ngFor="let item of blogs">
<H1>{{item.title}}</H1>
<p>Description</p>
<span class="blogDate">Date</span><span class="blogger">Date</span>
  </div>
  <!--
  <div class="blogItem">
<h1>Topic</h1>
<p>Description</p>
<span class="blogDate">Date</span><span class="blogger">Date</span>
  </div> -->
</div>